@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mingzat&family=Roboto&display=swap');

:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
  --cor1-paleta1: #D4ECDD;
  --cor2-paleta1: #345B63;
  --cor3-paleta1: #152D35;
  --cor4-paleta1: #112031;
  --cor1-paleta2:#2C3639;
  --cor2-paleta2:#3F4E4F;
  --cor3-paleta2:#A27B5C;
  --cor4-paleta2:#DCD7C9;
  --cor1-paleta3:#290001;
  --cor2-paleta3:#87431D;
  --cor3-paleta3:#C87941;
  --cor4-paleta3:#DBCBBD;
  --cor1-paleta4:#EEEDDE;
  --cor2-paleta4:#E0DDAA;
  --cor3-paleta4:#203239;
  --cor4-paleta4:#141E27;

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--cor4-paleta2);
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

 /*-------------------------------Spinner-------------------------------------------------*/

  /* Oculta o formulário */
  .hidden {
    display: none;
   }
    
   /* Estilos do Spinner */
   #conteiner-load {
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    background-color: whitesmoke;
   }
    
   #load {
    border: 10px solid rgb(255, 255, 255);
    outline: 1px solid lightgray;
    border-top-color: var(--primary);
    border-bottom-color: var(--secondary);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    -webkit-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
   }
    
   /* Animação do spinner */
   @-webkit-keyframes girar {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
   }
    
   @keyframes girar {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
   }
  
   